/* RESET VALUES */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #82ecf4;
  background: linear-gradient(97deg, #8284f4 0%, rgb(137, 251, 251) 100%);
  font-size: 24px;
}

/* MAIN LAYOUT */
.container {
  background-color: #eaf9ff;

  max-width: 1400px;
  margin: auto;
  margin-top: 75px;
  border-radius: 15px;
}

/* MAIN */
.main {
  background-color: #ffffff;
  display: flex;
  border-radius: 15px;
}

.productlist {
  flex: 1 1;
}

.productlist-content {
  padding: 15px;
}

.productlist-title {
  font-size: 24px;
  color: #25254e;
}

.productlist-heading {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.productlist-title-icon,
.productoverview-title-icon,
.product-close,
.stockchange-close,
.movements-close {
  background-color: #25254e;
  font-size: 16px;
  padding: 10px;
  border-radius: 100px;
  color: #9b9cff;
}

.product-close,
.stockchange-close,
.movements-close {
  cursor: pointer;
}

.product-close:hover,
.stockchange-close:hover,
.movements-close:hover {
  background-color: #43439d;
}

.hidden {
  display: none !important;
}

/* HEADER */
.header {
  background: linear-gradient(97deg, #6264d0 0%, #25254e 100%);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0 0;
  padding: 15px;
}

.logo {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}
.navigation p {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
}

/* HEADER SEARCH */
.searchbar {
  background-color: #ffffff;
  border-radius: 25px;
}

.search-field {
  height: 50px;
  width: 300px;
  padding-left: 25px;
  border: none;
  border-radius: 25px;
}

.search-field:focus {
  outline: none;
}

.search_btn {
  height: 50px;
  width: 150px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(97deg, #9394e7 0%, #6264d0 100%);
  color: white;
  font-weight: 600;
  transition: all 0.2s;
}

.search_btn:hover {
  transform: scale(1.15);
}

.filter_btn {
  height: 50px;
  width: 150px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(97deg, #9394e7 0%, #6264d0 100%);
  color: white;
  font-weight: 600;
  transition: all 0.2s;
}

/* HEADER NAVI */
.navigation .btn {
  height: 100px;
  padding: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s;
  text-transform: uppercase;
}

.navigation .btn i {
  font-size: 22px;
  color: rgb(148, 204, 234);
}

.navigation .btn:hover {
  background: linear-gradient(97deg, #b2b3f6 0%, #9b9cff 100%);
  color: #25254e;
  transform: scale(1.1);
  box-shadow: 5px 5px 50px #25254e7c;
  border-radius: 5px;
}

.navigation .btn:hover > i {
  color: #fff;
}

.nav-txt {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.btn_lowonstock .btn {
  background-color: #ec9a1e;
}

/* PRODUCT TABLE */

.btn-table-function {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #b2b3f6;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.btn-table-function:hover {
  background-color: #5b5cb5;
  color: #ffffff;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 12px;
  font-family: sans-serif;
  width: 100%;
  min-width: 950px;
  max-width: 1400px;

  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

table thead tr {
  background-color: #5b5cb5;
  color: #ffffff;
  text-align: left;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #5b5cb5;
}

tbody tr:hover {
  color: #5b5cb5;

  background-color: #eeeeff;
}

tbody .productrow-warning {
  background-color: #f37a08;
  color: #fff;
}

tbody .productrow-warning:nth-of-type(even) {
  background-color: #f9973c;
  color: #fff;
}

tbody .productrow-warning:hover {
  background-color: #d46905;
  color: #ffffff;
}

/* QUICK ACTION */
.productlist-quickactions {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.productlist-quickaction {
  display: inline-block;
  font-size: 10px;
  padding: 5px;
  background-color: #b2f6d2;
  border-radius: 50px;
  cursor: pointer;
}

.action-minus {
  background-color: #f6b2c2;
}

.productlist-quickaction:hover {
  background-color: #5b5cb5;
  color: #fff;
}

/* PRODUCT OVERVIEW */

.productoverview {
  background-color: #eeeeff;
  flex: 0 1 400px;
  height: calc(100vh -175px);
  border-radius: 0px 0px 15px 0px;
}

.productoverview-heading {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bebee1;
}

.productoverview-stockactions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 25px;
}

.product-subtitle {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #bebee169;
  border-radius: 15px;
  font-size: 20px;
}

/* PRODUCT OVERVIEW TABLE */

.productoverview-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.5em;
  font-family: sans-serif;
  min-width: 400px;
  max-width: 100%;

  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);*/
}

.productoverview-table thead tr {
  background-color: #5b5cb5;
  color: #ffffff;
  text-align: left;
}

.productoverview-table th,
.productoverview-table td {
  padding: 12px 15px;
}

.productoverview-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.productoverview-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.productoverview-table tbody tr.active-row {
  font-weight: bold;
  color: #5b5cb5;
}

.productoverview-actions {
  margin-left: auto;
  margin-right: 0px;
  gap: 5px;
  padding: 5px;
  display: flex;
  justify-content: end;
}

.productoverview-action {
  font-size: 12px;
  padding: 10px;
  background-color: #b2b3f6;
  border-radius: 50px;
  cursor: pointer;
}

.productoverview-action:hover {
  background-color: #5b5cb5;
  color: #ffffff;
}

.productoverview-content {
  padding: 10px;
}

.productoverview-table th {
  text-align: left;
  background-color: #5b5cb5;
  color: #fff;
  border: collapse;
  width: 150px;
}

.stock-action {
  font-size: 16px;
  padding: 10px;
}

.action-stock-add:hover {
  background-color: #b2f6d2;
  color: #25254e;
}

.action-stock-remove:hover {
  background-color: #f6b2c2;
}

.imgcontainer {
  text-align: center;
}

img {
  margin: 15px;
  border-radius: 25px;
  border: 1px solid #b2b3f6;
  object-fit: scale-down;
  background-color: #fff;
}

td img {
  margin: 0px;
  border-radius: 5px;
  border: px solid #b2b3f6;
}

td .img-productname {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-menu {
  display: flex;
  gap: 5px;
  visibility: hidden;
}

.filter-text {
  font-size: 12px;
  background-color: #6264d0;
  color: #fff;
  border-radius: 50px;
  padding: 5px 10px;
}

.btn_lowonstock:hover + .lowonstockproducts {
  visibility: visible;
  opacity: 1;
}

.lowonstockproducts {
  visibility: hidden;
  opacity: 0;
  top: 180px;
  margin-left: 40px;
  background-color: #d2d2fc;
  width: 350px;
  position: absolute;
  transition: all 0.2s 0.2s;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0.8rem 5rem 2rem #61555150;
}

.lowonstockproducts:hover {
  visibility: visible;
  opacity: 1;
}

.lowonstockproducts img {
  border-radius: 10px;
}

.preview {
  cursor: pointer;
  background-color: #a5a5db;
  border-radius: 5px;
  margin-bottom: 5px;
}

.preview:hover {
  background-color: #8888c2;
}

.preview_data {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.preview_data_stock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 8px !important;
  align-items: flex-end;
  background-color: #6f6fa8;
  padding: 5px;
  border-radius: 5px;
}

.notification_lowstock {
  font-size: 24px !important;
  text-align: center;
}

.stockcalcresults,
.movements {
  flex: 1 1;
  border-radius: 0 0 0 15px;
}

.stockcalcresults-title,
.movements-tittle {
  font-size: 24px;
  color: #25254e;
}

.stockcalcresults-heading,
.movements-heading {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bebee1b9;
}

.productlist-heading {
  padding: 15px;
  display: flex;

  align-items: center;
  background-color: #bebee1b9;
}

.stockcalcresults-content,
.movements-content {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 15px;
}

.stockcalcresults-content-overview,
.movements-content-overview {
  padding: 15px;
  list-style: none;
  font-size: 16px;
}

.stockcalcresults-content-overview ul {
  list-style: inside;
  color: #43439d;
  padding: 15px;
}

.stockcalcresults-content-content-message {
  padding: 5px;
}

.icon-succesfull,
.icon-green {
  color: rgb(0, 189, 0);
}

.icon-failed,
.icon-red {
  color: red;
}

.icon-min,
.icon-max {
  color: #43439d;
}

.editproductinput {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: #2f3080f5;
  color: #fff;
}

.save-editbtn {
  background-color: #b2f6d2;
  color: #25254e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.cancel-editbtn {
  background-color: #f6b2c2;
  color: #25254e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.save-editbtn:hover {
  background-color: #27f186;
}

.cancel-editbtn:hover {
  background-color: #c7687e;
}
